.main-slider {
    position: relative;

    .owl-nav {
        width: 0;
        height: 0;

        button[class^=owl-] {
            position: absolute;
            top: 50%;
            outline: none;
            border: none;
            transform: translateY(-50%);
            background: $black;
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #b9b9b9;
            font-size: 10.5px;
            opacity: 0.5;
            @include transition(all 0.3s ease-in-out);

            &.owl-next {
                left: 0;
            }

            &.owl-prev {
                right: 0;
            }

            &:hover {
                opacity: 1;
                color: $fff;
                background: $red;
            }
        }
    }

    .main-slide {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        height: 100vh;

        @include sm {
            height: 500px;
        }

        @include xs {
            height: 380px;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .text-overlay {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 50%);
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        padding: 0 130px;

        #{$ltr} & {
            direction: rtl;
            // text-align: right;
            // align-items: flex-end;
        }

        @include xs {
            padding: 0 50px;
            align-items: center;
            text-align: center;
        }
    }

    .slider-head {
        color: $fff;
        text-transform: uppercase;
        padding: 1.5px 0;
        width: 0%;
        overflow: hidden;
        white-space: nowrap;
        transition: all 7s ease;

        &.openStyle {
            width: 100%;
        }

        @include xs {
            transition: all 4s ease;
        }
    }

    .ar-head {
        font-size: 53.58px;
        font-family: bold;
        margin-bottom: 15px;

        @include xs {
            font-size: 24px;
        }
    }

    .en-head {
        font-family: med;
        font-size: 39.63px;
        direction: ltr;
        text-align: right;

        @include xs {
            font-size: 17px;
            text-align: center;
        }
    }
}

.projects {
    margin-top: 70px;

    @include xs {
        margin-top: 25px;
    }

    .secs-head {
        justify-content: center;
        text-align: center;

        &:after {
            right: 50%;
            transform: translatex(50%);
        }
    }

    .owl-nav {
        width: 0;
        height: 0;

        button[class^=owl-] {
            position: absolute;
            top: 50%;
            outline: none;
            border: none;
            transform: translateY(-50%);
            font-size: 15px;
            color: #b0afaf;
            @include transition(all 0.3s ease-in-out);

            &.owl-next {
                left: -38px;

                @include md {
                    left: -0;
                }
            }

            &.owl-prev {
                right: -38px;

                @include md {
                    right: 0;
                }
            }

            &:hover {
                color: $red;
            }
        }
    }

    .owl-dots {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 25px;

        .owl-dot {
            background: rgba($black, 0.502);
            outline: none;
            border: none;
            width: 9px;
            height: 9px;
            border-radius: 50%;
            cursor: pointer;
            margin: 0 2.5px;
            @include transition(all 0.3s ease-in-out);

            &.active {
                background: $red;
                pointer-events: none;
            }

            &:hover {
                background: $red;
            }
        }
    }
}

.project {
    position: relative;
    width: 360px;
    height: 399px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin: auto;

    img {
        @include transition(all 0.3s ease-in-out);
        width: 100%;
        height: 100%;
        object-fit: cover;
        backface-visibility: hidden;
        transform: scale(1.05);
    }

    &:hover {
        img {
            transform: scale(1);
        }
    }

    .project-info {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;
        padding: 52px 40px;
        color: $fff;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
    }

    .date {
        font-size: 12px;
    }

    .pro-name {
        font-size: 18px;
        font-family: bold;
        @include transition(all 0.3s ease-in-out);
        position: relative;

        &:hover {
            color: $red;
        }

        &:after {
            position: absolute;
            top: 50%;
            transform: translateY(-50%) translateX(10px);
            left: 100%;
            background-color: $red;
            width: 30px;
            height: 3px;
            content: "";
            display: block;
        }
    }
}

.clients-cont {
    margin-top: 95px;

    @include xs {
        margin-top: 70px;
    }
}

.client-slider {
    .owl-nav {
        width: 0;
        height: 0;

        button[class^=owl-] {
            position: absolute;
            top: 50%;
            outline: none;
            border: none;
            transform: translateY(-50%);
            font-size: 15px;
            color: #b0afaf;
            @include transition(all 0.3s ease-in-out);

            &.owl-next {
                left: -38px;

                @include md {
                    left: -0;
                }
            }

            &.owl-prev {
                right: -38px;

                @include md {
                    right: 0;
                }
            }

            &:hover {
                color: $red;
            }
        }
    }

    .owl-dots {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 25px;

        .owl-dot {
            background: rgba($black, 0.502);
            outline: none;
            border: none;
            width: 9px;
            height: 9px;
            border-radius: 50%;
            cursor: pointer;
            margin: 0 2.5px;
            @include transition(all 0.3s ease-in-out);

            &.active {
                background: $red;
                pointer-events: none;
            }

            &:hover {
                background: $red;
            }
        }
    }
}

.client {
    width: 165px;
    height: 124px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin: auto;

    img {
        &.img-responsive {
            @include transition(all 0.3s ease-in-out);
            width: auto;
            backface-visibility: hidden;
        }
    }

    &:hover {
        img {
            &.img-responsive {
                transform: scale(0.95);
            }
        }
    }
}