@font-face {
    font-family: 'itc';
    src: url('../fonts/ITC/ITC\ HANDEL\ GOTHIC\ ARABIC\ REGULAR.OTF');
}

@font-face {
    font-family: 'med';
    src: url('../fonts/ITC/ITC\ HANDEL\ GOTHIC\ ARABIC\ MEDIUM.OTF');
}

@font-face {
    font-family: 'light';
    src: url('../fonts/ITC/ITC\ HANDEL\ GOTHIC\ ARABIC\ LIGHT.OTF');
}

@font-face {
    font-family: 'bold';
    src: url('../fonts/ITC/ITC\ HANDEL\ GOTHIC\ ARABIC\ BOLD.OTF');
}

@font-face {
    font-family: 'hv';
    src: url('../fonts/ITC/ITC\ HANDEL\ GOTHIC\ ARABIC\ HEAVY.OTF');
}