header {
    &.page-header {
        background-color: $fff;
        position: relative;
        margin: 0;
        padding-bottom: 0;
        border: none;

        .fixed-header {
            @include xs {
                position: static;
            }
        }

        .nav-anchor {
            color: $black;

            &:hover {
                color: $red;
            }
        }

        .search-input {
            background-color: #f7f7f7;
            color: $black;

            &::placeholder {
                color: #bababa;
            }
        }

        .search-button {
            color: $black;

            &:hover {
                color: $red;
            }
        }

        .top-header {
            .top-link {
                color: $black;

                i {
                    color: $red;
                }

                &:hover {
                    color: $red;
                }

                &.lang {
                    color: #9e9e9e;
                    border-right: 1px solid #d4d4d4;

                    #{$ltr} & {
                        border: none;
                        border-left: 1px solid #d4d4d4;
                    }

                    &:hover {
                        color: $red;
                    }
                }
            }
        }
    }
}

.breadcrumb-sec {
    position: relative;
    background-image: url("../images/breadcrumb.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 237px;
    margin-top: 30px;

    @include xs {
        background-attachment: fixed;
        background-position: center;
        height: 160px;
        margin-top: 15px;
    }

    .parallax-overlay {
        background-color: #696452;
        opacity: 0.8;
        position: absolute;
        left: 0px;
        top: 0;
        bottom: 0;
        right: 0;
    }

    .page-head {
        font-size: 36px;
        color: $fff;
        font-family: bold;
        margin-bottom: 9px;
        position: relative;
    }

    ol {
        &.breadcrumb {
            background-color: transparent;
            border: none;
            border-radius: 0;
            position: relative;
            margin: 0;

            li {
                font-size: 18px;
                color: $fff;
                cursor: default;

                &.active {
                    color: $fff;
                }

                a {
                    font-size: 18px;
                    color: $fff;
                    -moz-transition: all 0.3s ease-in-out;
                    -o-transition: all 0.3s ease-in-out;
                    -webkit-transition: all 0.3s ease-in-out;
                    transition: all 0.3s ease-in-out;

                    &:hover {
                        color: $hover;
                    }
                }
            }
        }
    }
}




.page-cont {
    margin-top: 45px;
}

.form-center {
    margin: auto;
    float: none;
    padding: 0;
}

.order-form {
    width: 100%;

    .form-group {
        margin-top: 25px;
    }
}

.form-label {
    width: 100%;
    text-align: center;
    font-weight: unset;
    font-family: bold;
    font-size: 17px;
    color: #333;
    margin-bottom: 14px;

    &.req {
        &:after {
            content: "*";
            color: #ff0000;
        }
    }
}

.form-input {
    width: 100%;
    height: 56px;
    border: 2px solid #ededed;
    padding: 0 25px;
    color: #a5a5a5;
    font-size: 14px;
    text-align: right;
    @include transition(all 0.3s ease-in-out);

    #{$ltr} & {
        text-align: left;
    }

    &:focus {
        border-color: $hover;
    }
}

.form-texarea {
    height: 104px;
    resize: none;
    padding: 15px 25px;
}

.send {
    width: 100%;
    font-family: bold;
    font-size: 17px;
    color: $fff;
    background-color: $red;
    height: 60px;
    border: none;
    @include transition(all 0.3s ease-in-out);
    margin-top: 11px;

    &:hover {
        background-color: $black;
    }
}